mixin top-header
  .top-header
    .inner
      a(href='/').logo
        img(src='./images/logo.png' alt='illbattingen logo')
      ul.menu
        each item in settings.menu
          li: a(href=item.url) #{item.title}

doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')

  - var foundTitle = false
  - var foundKeywords = false
  each meta in (data.meta||[])
    case meta.name
      when 'title'
        title= meta.content
        - foundTitle = true
      when 'keywords'
        meta(name=meta.name content=meta.content)
        - foundKeywords = true
      default
        meta(name=meta.name content=meta.content)

  if !foundTitle
    title= settings.title

  if !foundKeywords
    meta(name='keywords' content=settings.keywords)

  meta(property='og:image' content=settings.ogImage)
  link(rel='stylesheet' href='/style.css')

body
  block content

  .footer-block
    img(src='./images/footer.png' alt='illbattingen footer')

  script(src='/script.js' async)

  block scripts
