extends _base.pug

block content
  +top-header

  .content-block
    h1= data.title
    | !{markdown(data.content)}

  form(name='contact' method='POST' netlify).form-block
    each field in data.form
      label
        span.label= field.label
        case field.type
          when 'textarea'
            textarea(rows='4' name=idify(field.label))
          default
            input(type='text' name=idify(field.label))
    button(type='submit') Skicka
